*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:url('../src/images/background.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}

.container{
  position: relative;
  height: 100px;
  /* display: inline-flex; */
  /* height: auto; */
  /* max-height: 6100px; */
  width: 350px;
  background-color:rgba(255,255,255,.1);
  backdrop-filter: blur(30px);
  border: 2px solid rgbs(255,255,255,.2);
  padding: 20px;
  border-radius: 16px;
  overflow: hidden;
}
.containerHeight1{
  height:450px;
  transition: all 1s ease;
}
.containerHeight2{
  height: 450px;
  /* transition:all 1s ease ; */
}

.Display1{
display: block;
}
.Display2{
display: none;
}



.search-box{
  position: relative;
  width: 100%;
  height: 55px;
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  border: solid 1px rgb(212, 210, 210);
  border-radius: 10px;
}
.search-box input{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: 2px solid rgba(255,255,255,-2);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 48px 0 42px;
  outline: none;
}

.search-box input::placeholder{
  color:#fff;
  text-transform: capitalize;
}
.search-box button{
  position: absolute;
  right: 0;
  width: 40px;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 28px;
  color: #fff;
  padding: 0px 40px 0 5px;
  cursor: pointer;
}

.search-box i{
  position: absolute;
  left: 10px;
  font-size: 28px;
}
.weather-box{  
  /* position: absolute; */
  text-align: center;
  /* top:70px */
  margin: 40px 0;
}
.weather-box img{
width: 50%;
  /* height: 100px; */
  /* size: 60%; */
}

.weather-box .temprature{
  position: relative;
  font-size: 55px;
  font-weight: bold;
}
.weather-box .temprature span{
position: absolute;
font-size: 40%;
}
.weather-box .description{
  font-size:20px;
  font-weight: bold; 
}
.weather-details{
  /* position: absolute; */
  /* left: 0; */
  width: 100%;
  /* padding: 0 20px; */
  display: flex;
  bottom: 40px;
}

.weather-details .wind ,
.weather-details .humidity{
  /* position: absolute; */
  display: flex;
  width: 50%;
  align-items: center;
}
.weather-details .humidity{
  padding-left: 5px;
}
.weather-details .wind{
  padding-right: 5px;
  justify-content: flex-end;
}
.weather-details i{
  font-size: 50px;
  margin-right: 10px;
}
.weather-details span{
  font-size: 22px;
  font-weight: 500;
}

.box-404{
  position: relative;
}
.box-404 .inner1 img{
  position: absolute;
  width: 100%;
  margin-top: 27px;
  display: block;
}
.temp1{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 280px;
}